In [65]:
import pandas as pd
import numpy as np
from collections import Counter
import pickle
import os

In [6]:
## Load pickle AI 리스트 불러오기
with open("artificial_user_list","rb") as fr:
    pik_bot_id = pickle.load(fr)
print(pik_bot_id)

[1576, 4558, 1337, 3448, 3464, 3466, 4864, 4913, 4761, 4918, 4817, 4763, 4856, 4846, 4854, 5213, 4979, 4760, 6359, 6324, 6356, 6384, 6230, 6276, 6257, 6232, 6223, 6221, 6299, 6233, 6224, 6291, 6235, 6255, 6269, 6238, 6220, 6259, 6314, 6250, 6287, 6239, 6244, 6241, 6289, 6242, 6260, 6275]

In [7]:
# 데이터 불러오기

df1 = pd.read_csv('piks_pik.csv')
df2 = pd.read_csv('piks_category.csv')
df3 = pd.read_csv('linkhub_link.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_12152\2023690404.py:5: DtypeWarning: Columns (11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('linkhub_link.csv')

In [8]:
# pikurate bot del
def pik_bot_del (data, col) :
    with open("artificial_user_list","rb") as fr:
        pik_bot_id = pickle.load(fr)
    new_df = data[~data[col].isin(pik_bot_id)]
    print(f"피큐봇 제거 전 데이터 개수 : {data.shape[0]}개")
    print(f"피큐봇 제거 후 데이터 개수 : {new_df.shape[0]}개")
    return new_df

In [9]:
Picks = pik_bot_del (df1, "user_id")

피큐봇 제거 전 데이터 개수 : 26541개
피큐봇 제거 후 데이터 개수 : 13335개

In [10]:
Cates = pik_bot_del (df2, "user_id")

피큐봇 제거 전 데이터 개수 : 88695개
피큐봇 제거 후 데이터 개수 : 37577개

In [11]:
Links = pik_bot_del (df3, "user_id")

피큐봇 제거 전 데이터 개수 : 620018개
피큐봇 제거 후 데이터 개수 : 178484개

In [12]:
df1

,id,created,modified,slug,title,user_id,is_official,search_vector,status,language,is_draft,old_id,is_deleted,is_onboard,platform,pik_photo_id,memo,is_default
0,1244,2020-09-14 16:16:30.398 +0900,2020-09-14 16:16:30.401 +0900,ai-pik-about-피큐레잇,AI pik about 피큐레잇,49,False,'about':3A 'ai':1A 'pik':2A '피큐레잇':4A,private,ko,False,NaN,False,False,NaN,NaN,NaN,False
1,906,2020-08-14 12:09:14.135 +0900,2020-08-26 15:54:42.572 +0900,pikurate-사용성-개선-기적의-100일-프로젝트-kick-off-meeting,Pikurate 사용성 개선 기적의 100일 프로젝트 kick-off meeting,49,False,'100일':5A 'kick':8A 'kick-off':7A 'meeting':10...,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
2,1086,2020-09-01 20:01:27.146 +0900,2020-09-01 20:01:27.415 +0900,pikurate-1086,PIKURATE,520,False,'pikurate':1A,private,en,False,NaN,False,False,NaN,NaN,NaN,False
3,464,2019-11-19 11:17:17.757 +0900,2020-08-26 16:36:14.828 +0900,나도-한-번-이해해보자-도대체-블럭체인이-뭐야,"나도 한 번 이해해보자, 도대체 블럭체인이 뭐야?",425,False,'나도':1A '도대체':5A '뭐야':7A '번':3A '블럭체인이':6A '이해...,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
4,467,2019-11-19 13:56:01.216 +0900,2020-08-26 16:39:55.681 +0900,한국-페미니즘-이해하기-467,한국 페미니즘 이해하기.,429,False,'이해하기':3A '페미니즘':2A '한국':1A,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26536,28235,2023-02-12 21:36:15.234 +0900,2023-02-12 21:36:15.236 +0900,cf6a765e952e421d,상속 증여,10607,False,NaN,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
26537,28236,2023-02-12 21:36:18.978 +0900,2023-02-12 21:36:18.980 +0900,f542176f85c94ac5,Quick Link Box,10607,False,NaN,private,kr,False,NaN,False,False,NaN,NaN,NaN,True
26538,28234,2023-02-12 21:36:07.045 +0900,2023-02-12 21:36:37.324 +0900,5b5fa795c27247fb,상속 증여,10607,False,NaN,private,ko,False,NaN,False,False,NaN,NaN,NaN,False
26539,28237,2023-02-12 22:30:12.457 +0900,2023-02-12 22:30:12.459 +0900,35b8d3e959c04727,20 AIML,10633,False,NaN,public,en,False,NaN,False,False,NaN,NaN,NaN,False
26540,28238,2023-02-13 07:32:24.405 +0900,2023-02-13 07:32:24.408 +0900,38b183fcc0c54b31,Battery for EVs,1473,False,NaN,private,ko,False,NaN,False,False,NaN,NaN,전기차 베터리에 대한 기본정보 및 리써치,False

In [55]:
link_col = ["Link_id", "category_id"]
Links.rename(columns = {'id' : 'Link_id'}, inplace=True)
Cates.rename(columns = {'id' : 'Category_id'}, inplace=True)
new_Links = Links.loc[:, link_col]
new_Links = new_Links.groupby("category_id").count()
new_Links

C:\Users\user\AppData\Local\Temp\ipykernel_12152\773241768.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Links.rename(columns = {'id' : 'Link_id'}, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_12152\773241768.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cates.rename(columns = {'id' : 'Category_id'}, inplace=True)

             Link_id
category_id
52.0               5
53.0               2
54.0               6
55.0               5
56.0               7
...              ...
91968.0            7
91969.0            1
91970.0            9
91971.0            7
91972.0            2

[27720 rows x 1 columns]

In [46]:
Cates

,Category_id,created,modified,title,pik_id,user_id,position,is_initial,old_id,is_deleted,platform,next_obj,previous_obj,memo,is_default
0,1048,2019-07-03 06:21:24.874 +0900,2019-07-03 06:21:24.874 +0900,Code,335,349,1,False,NaN,False,NaN,1047,0,NaN,False
1,1047,2019-07-03 06:21:22.496 +0900,2019-07-03 06:21:22.496 +0900,Theory,335,349,1,False,NaN,False,NaN,1046,1048,NaN,False
2,1050,2019-07-03 06:48:29.210 +0900,2019-07-03 06:48:29.211 +0900,pdf,336,349,1,False,NaN,False,NaN,1049,0,NaN,False
3,1049,2019-07-03 06:48:23.623 +0900,2020-03-05 10:20:03.895 +0900,General,336,349,1,True,NaN,False,NaN,0,1050,NaN,False
4,1065,2019-07-08 08:48:12.204 +0900,2019-07-08 08:48:12.205 +0900,Probability,337,349,1,False,NaN,False,NaN,1061,1244,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88690,91970,2023-02-13 01:33:13.388 +0900,2023-02-13 01:33:13.441 +0900,Paigination,27360,9861,-1,False,NaN,False,web,91969,0,NaN,False
88691,91969,2023-02-13 00:32:52.916 +0900,2023-02-13 01:33:13.468 +0900,Swagger,27360,9861,-1,False,NaN,False,web,91509,91970,NaN,False
88692,91971,2023-02-13 01:41:39.093 +0900,2023-02-13 01:41:39.131 +0900,노션,27863,10330,-1,False,NaN,False,web,90951,0,NaN,False
88693,91974,2023-02-13 07:33:21.229 +0900,2023-02-13 07:33:21.291 +0900,대표적인 기업들,28238,1473,-1,False,NaN,False,NaN,91973,0,NaN,False
88694,91973,2023-02-13 07:32:24.470 +0900,2023-02-13 07:33:21.320 +0900,미분류,28238,1473,-1,True,NaN,False,NaN,0,91974,NaN,False

In [81]:
merged_df = pd.merge(Cates.loc[:, ["pik_id", "Category_id"]], new_Links, how='left', left_on='Category_id', right_index = True)

# 결과 확인
a = merged_df.groupby('pik_id').count()["Category_id"]
b = merged_df.groupby('pik_id').sum()["Link_id"]
pik_count = pd.merge(a, b, right_index=True, left_index=True)
pik_count

        Category_id  Link_id
pik_id
20                5     15.0
21               10     28.0
22                5     11.0
23                9     32.0
24                7     19.0
...             ...      ...
28234             1      0.0
28235             1      0.0
28236             2      2.0
28237             2      3.0
28238             2      0.0

[13320 rows x 2 columns]

In [83]:
Picks.columns

Index(['id', 'created', 'modified', 'slug', 'title', 'user_id', 'is_official',
       'search_vector', 'status', 'language', 'is_draft', 'old_id',
       'is_deleted', 'is_onboard', 'platform', 'pik_photo_id', 'memo',
       'is_default'],
      dtype='object')

In [93]:
Picks2 = Picks.loc[(Picks['is_default'] == False)&(Picks['is_deleted'] == False)]
Picks2

,id,created,modified,slug,title,user_id,is_official,search_vector,status,language,is_draft,old_id,is_deleted,is_onboard,platform,pik_photo_id,memo,is_default
0,1244,2020-09-14 16:16:30.398 +0900,2020-09-14 16:16:30.401 +0900,ai-pik-about-피큐레잇,AI pik about 피큐레잇,49,False,'about':3A 'ai':1A 'pik':2A '피큐레잇':4A,private,ko,False,NaN,False,False,NaN,NaN,NaN,False
1,906,2020-08-14 12:09:14.135 +0900,2020-08-26 15:54:42.572 +0900,pikurate-사용성-개선-기적의-100일-프로젝트-kick-off-meeting,Pikurate 사용성 개선 기적의 100일 프로젝트 kick-off meeting,49,False,'100일':5A 'kick':8A 'kick-off':7A 'meeting':10...,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
2,1086,2020-09-01 20:01:27.146 +0900,2020-09-01 20:01:27.415 +0900,pikurate-1086,PIKURATE,520,False,'pikurate':1A,private,en,False,NaN,False,False,NaN,NaN,NaN,False
3,464,2019-11-19 11:17:17.757 +0900,2020-08-26 16:36:14.828 +0900,나도-한-번-이해해보자-도대체-블럭체인이-뭐야,"나도 한 번 이해해보자, 도대체 블럭체인이 뭐야?",425,False,'나도':1A '도대체':5A '뭐야':7A '번':3A '블럭체인이':6A '이해...,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
4,467,2019-11-19 13:56:01.216 +0900,2020-08-26 16:39:55.681 +0900,한국-페미니즘-이해하기-467,한국 페미니즘 이해하기.,429,False,'이해하기':3A '페미니즘':2A '한국':1A,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26534,28232,2023-02-12 20:41:56.181 +0900,2023-02-12 20:41:56.183 +0900,660f178a263a4a8a,Gy,10632,False,NaN,private,en,False,NaN,False,False,mobile,NaN,NaN,False
26536,28235,2023-02-12 21:36:15.234 +0900,2023-02-12 21:36:15.236 +0900,cf6a765e952e421d,상속 증여,10607,False,NaN,public,ko,False,NaN,False,False,NaN,NaN,NaN,False
26538,28234,2023-02-12 21:36:07.045 +0900,2023-02-12 21:36:37.324 +0900,5b5fa795c27247fb,상속 증여,10607,False,NaN,private,ko,False,NaN,False,False,NaN,NaN,NaN,False
26539,28237,2023-02-12 22:30:12.457 +0900,2023-02-12 22:30:12.459 +0900,35b8d3e959c04727,20 AIML,10633,False,NaN,public,en,False,NaN,False,False,NaN,NaN,NaN,False
26540,28238,2023-02-13 07:32:24.405 +0900,2023-02-13 07:32:24.408 +0900,38b183fcc0c54b31,Battery for EVs,1473,False,NaN,private,ko,False,NaN,False,False,NaN,NaN,전기차 베터리에 대한 기본정보 및 리써치,False

In [95]:
new_piks2 = pd.merge(Picks2.iloc[:, [0, 1, 4, 8, 9]], pik_count, how="left", left_on="id", right_index=True)
new_piks2.to_csv("new_piks2.csv")

In [96]:
new_piks2

,id,created,title,status,language,Category_id,Link_id
0,1244,2020-09-14 16:16:30.398 +0900,AI pik about 피큐레잇,private,ko,11.0,24.0
1,906,2020-08-14 12:09:14.135 +0900,Pikurate 사용성 개선 기적의 100일 프로젝트 kick-off meeting,public,ko,2.0,3.0
2,1086,2020-09-01 20:01:27.146 +0900,PIKURATE,private,en,1.0,5.0
3,464,2019-11-19 11:17:17.757 +0900,"나도 한 번 이해해보자, 도대체 블럭체인이 뭐야?",public,ko,3.0,11.0
4,467,2019-11-19 13:56:01.216 +0900,한국 페미니즘 이해하기.,public,ko,4.0,13.0
...,...,...,...,...,...,...,...
26534,28232,2023-02-12 20:41:56.181 +0900,Gy,private,en,2.0,1.0
26536,28235,2023-02-12 21:36:15.234 +0900,상속 증여,public,ko,1.0,0.0
26538,28234,2023-02-12 21:36:07.045 +0900,상속 증여,private,ko,1.0,0.0
26539,28237,2023-02-12 22:30:12.457 +0900,20 AIML,public,en,2.0,3.0
26540,28238,2023-02-13 07:32:24.405 +0900,Battery for EVs,private,ko,2.0,0.0

In [98]:
new_piks3 =  new_piks2.loc[(new_piks2['status'] != 'private')]

In [100]:
new_piks3.to_csv("new_piks3.csv")